# Week 2 Python Programming

Topics
1. Python Syntax
2. Values Data Types, & Variables
3. Operators, Comments, and Errors
4. Computational Thinking: Statements & Expressions
5. Putting it All Together

## Reading Python Code

* The first step in learning to program is learning to read Python code and understand how the computer will process it.
* Expressions get *evaluated* and result in a value.
* Statements are the lines of code that are made up of expressions.
    * Python *statements* are kind of like sentences
    * Python *expressions* are the clauses that make up a sentence

In [ ]:
from datetime import datetime 

today = datetime.today() 

day_name = today.strftime("%A") 

if day_name == "Friday": 
    print("Quittin time!")
else:
    print("Back to the grind")

Let's work through this code line by line.

1. This is an *import statement* that loads some functionality from the `datetime` library/module
2. This is a blank line
3. This *assignment statement* that *assigns* (`=`) a *value* to a *variable* named `today`
4. Another blank line ðŸ™‚
5. Evaluate the *expression* `today.strftime("%A")` and save the resulting *value* in a *variable* named `day_name`
6. BLANK LINE
7. Use an *if statement* to compare the value of the variable `day_name` and the string "Friday". If they are the same go to line 8, if they are not equal go to line 10.
8. In the successful block, print the string "Quittin time!" because today is Friday!
9. The `else` statement defines what do do when the comparison is not equal
10. In the unsuccessful block, print the string "Back to the grind"

* Don't worry if you don't fully understand what this code is doing, the goal is to become familiar with the practice of reading Python code and thinking about how it will be executed by the computer.

## Values and Data Types

* Python has several data types for storing information in memory
* When you express data in Python it is important to consider the *type* of the data
* Under the hood, the computer is storing the data differently depending on the type
* This enables efficiency in two ways
    * Using the appropriate amount of memory
    * Speed of computation
* Most importantly, data types determine the operations that can be executed on the data

In [ ]:
3

In [ ]:
3.1415926535897931

In [ ]:
"Hello, what a wonderful day!"

* The code above expressed three values
* Each value had a different `type` 
* Python will dynamically assign a type to these values
* We can see the data type by using the `type()` function
    * More on functions later

In [ ]:
# What data type is this value?
type(3)

In [ ]:
# What data type is this value?
type(3.141592653589793)

In [ ]:
# What data type is this value?
type("Hello, what a wonderful day!")

* A quick note about Jupyter and the display of outputs
* Jupyter will automatically print the last *value* to be evaluated in a cell

In [ ]:
3
3.14
"Hello World"

* If we want to see each of those values, we can use the `print()` function to display the values
    * More on functions later

In [ ]:
print(3)
print(3.13)
print("Hello World")

### Type: Integers

* Python has a type, called `int`, that is used for representing integer numbers.
* These can positive, negative, small or large

In [ ]:
# regular numbers are ints
print(4) 
type(4)

In [ ]:
# negative numbers are ints
print(-1) 
type(-1)

In [ ]:
# Even big numbers are ints
print(20928375403298570293847503984570938457)
type(20928375403298570293847503984570938457)

### Type: Floating Point numbers

* But what about non-integer numbers?
* Python has a type, called `float`, that is used for representing fractional numbers.

In [ ]:
print(3/4) # display the value of 3/4
type(3/4) # what type is 3/4

In [ ]:
print(0.75)
type(0.75)

In [ ]:
print(3.)
type(3.)

* Python interprets the `.` to indicate a floating point number

### Type: Strings

* Even though everything is a number in the computer world...
* High-level programming languages like Python try to make the computer world more *humane*.
* Often we need to deal with textual data so we use the *string* data type!
* The syntax for strings is double (") or single (') quotes.
    * Always use double quotes

In [ ]:
print("Hello World")
type("Hello World")

In [ ]:
 "Ford's Pinto"

* Using single quotes can get you in trouble

In [ ]:
'Ford's Pinto'

In [ ]:
"""
You can have multiple lines in a string 
by using triple double quotes
"""

* There is a lot more to strings so we will go into more depth later

### Type: Boolean

* Python has a data type for True and False
* A boolean is either `True` or `False`
* Pay attention to the capitalization

In [ ]:
True

In [ ]:
False

In [ ]:
type(True)

* Booleans will be very important when we start talking about *conditional statements*

## Variables

* Values dissapear once they are evaluated unless we tell Python we want to remember them
* A variable is a name that refers to a value, so we can save it and not type the value all the time. 
* We *assign* different types of data to variables.

In [ ]:
a = 3

In [ ]:
a

In [ ]:
a_more_complicated_variable_name = 3
a_more_complicated_variable_name

### Variable Names and Python Keywords

* There are rules and conventions for naming variables (also called *identifiers*) in Python.
* Rules:
    * Variable names cannot begin with numbers.
    * Variable names cannot contain spaces.
    * Variable names are case sensitive.
    * Variable names cannot be one of the Python *keywords*

```python
and       del       from      None      True
as        elif      global    nonlocal  try
assert    else      if        not       while
break     except    import    or        with
class     False     in        pass      yield
continue  finally   is        raise
def       for       lambda    return
```

* Conventions:
    * Don't start variables with capital letters.
    * Use underscores instead of spaces.
    * Use descriptive variable names.
    * Read [PEP 8 -- Style Guide for Python Code](https://www.python.org/dev/peps/pep-0008/)

In [ ]:
descriptive_variables = "are good programming hygine"

In [ ]:
des

In [ ]:
# don't use keywords for variable names
and = "hello"

## Mathematical Operators

* MATH TIME ðŸ˜¬ ![Lisa loves math](https://media.giphy.com/media/l2Je3qSgOVvFPdaNi/giphy.gif)
* The Python programming language could be treated as a very fancy or complicated calculator.
* All of the mathematical operators you know and love are available in Python
    * Addition: `+`
    * Subtraction: `-`
    * Multiplication: `*`
    * Division: `/`
    * Modulus: `%`

In [ ]:
# addition
5 + 3

In [ ]:
# subtraction
5 - 3

* It even works with variables!

In [ ]:
# Simple Mathematical Operations
x = 5
y = 10
z = x + y # addition
print(z)

In [ ]:
z = x - y # subtraction
print(z)

In [ ]:
z = x * y # multiplication
print(z)

In [ ]:
z = x / y # division
print(z)

### String Operators

* You can use some mathematical operators (+) on string types
* This operator allows you to *concatinate* strings together

In [ ]:
# Combining strings
first_name = "John"
last_name = "Doe"
full_name = "John" + " " + "Doe"
full_name

In [ ]:
# works with variables too
full_name = first_name + " " + last_name
full_name

* The other operators don't really work

In [ ]:
"John" - "Doe"

## Changing Data Types

* If you want to do mathematical operations on your data, make sure your data values are the right type
* You can't add a string to an integer.
* You can't divide a float by a string.

In [ ]:
# What will happen when we run this?
"5" + 5

* Use the `int()` function to transform a string into a number

In [ ]:
# store a number as a string
number = "5"
print(number)
type(number)

In [ ]:
# transform number from a string to an int
number = int("5")
print(number)
type(number)

* Use the `str()` function to *coerce* your data into a string

In [ ]:
# store a number as a number
number = 5
print(number)
type(number)

In [ ]:
# transform a number into a string 
number = str(number)
print(number)
type(number)

* Use the `float()` function to transform decimal numbers

In [ ]:
# store a decimal number as a string
number = "5.5"
print(number)
type(number)

In [ ]:
# transform a number into a float
number = float(number)
print(number)
type(number)

* These functions will do their best guess to infer the correc value
* But they aren't magical AI

In [ ]:
number = "Matt"
print(number)
type(number)
number = float(number)
print(number)
type(number)

## Comments

* Python has a syntax for adding human readable comments to your code
* Everything after a `#` on a line is ignored

In [ ]:
#This line is a comment
print("this line is not a comment")
# print("Is this line a commen?")

## Dealing with Errors

* Errors are a common occurance in programming
    * Especially the "first draft" of your code
* Don't worry if Python yells at your
    * Python will never be angry with you
* Pay attention to some common types of errors

In [ ]:
1_bad-variable-name = "nope"

In [ ]:
abracadabra

* The *traceback* can be sometimes helpful for identifying the error in your code
    * sometimes

In [ ]:
number = "Matt"
print(number)
type(number)
number = float(number)
print(number)
type(number)

## Computational Thinking: Statements and Expressions

* Python evaluates expressions into values
* Evaluation happens in place,
* This is the thinking like a computer part

In [ ]:
a = 3
print(a) # a gets evaluated into the value 3 
print(3) # same output

In [ ]:
print(a +  5)
print(3 + 5)
print(8)

* A computer can only do one operation at a time
* It has to pick the order in which they are executed
    * PEMDAS
* Key thing is use parentheses to control the order in which expressions are evaluated
* The order of application is by design, Python *designed it this way*
    * Because C does it that way
    * why does C do it? Because some computer scientist decided back in the day
    * Everthing is built on top of something else
    * Turtles all the way down

In [ ]:
# implicit order
4 + 2 * 10

In [ ]:
# explicit order
4 + (2 * 10) # 4 + 20

In [ ]:
# evaluate 4 + 2 first, then do the multiplication
(4 + 2) * 10

* Use parentheses to control the order of evaluation

## Putting it all together


* Today we learned about
    * The four basic datatypes (int, float, string, bool)
    * Assigning values to variables (a=3)
    * Operators (+, -, /, *)
    * Comments and errors
* Now we are going to put it all together...with Math

![Math Racoon](https://media.giphy.com/media/3tEFVAbfzzcwo/giphy.gif)

* Let's use Python code to do some temperature conversion

Here are the conversion equations:

$$Celsius = \frac{5}{9}(Fahrenheit - 32)$$

YIKES, EQUATIONS.

In [ ]:
# Start with a fahrenheit value
fahrenheit = 32

In [ ]:
# Trye writing the equation in Python
celsius = 5/9 * fahrenheit - 32
celsius

* Hrm, that doesn't look right. We need parentheses!

In [ ]:
celsius = 5 / 9(fahrenheit - 32) 
celsius

* ACK, that didn't work either. 
* We need to be **EXPLICIT** about the multiplication

In [ ]:
# Add explicit multiplication
celsius = 5 / 9 * (fahrenheit - 32) 
celsius

![Success](https://media.giphy.com/media/nXxOjZrbnbRxS/giphy.gif)

## Temperature Conversion Challenge

Modify the program to transform Celsius to Fahrenheit

$$Fahrenheit = \frac{9}{5}Celcius + 32$$

Write code that will calculate the boiling point in fahrenheit (212 degrees).

Scroll down for the answer (DON'T CHEAT!)

In [ ]:
# Specify the temperature in celcius
celsius = 100

In [ ]:
# Put your code in the question marks

fahrenheit = ???
print(fahrenheit)

In [ ]:
# Answer key
fahrenheit = 9 / 5 * celsius + 32
print(fahrenheit)